<br/><br/><br/>

<!-- Plans -->
<section id="plans">
  <div class="container">
    <div class="row">

      <!-- item -->
      <!--
      <div class="col-md-4 text-center">
        <div class="panel panel-danger panel-pricing">
          <div class="panel-heading">
            <i class="fa fa-desktop"></i>
            <h3>Adrenalin</h3> -->

      <div class="col-md-4 text-center">
        <div class="panel panel-danger panel-pricing">
          <div class="panel-heading">
            <i class="fa fa-desktop"></i>


            <!-- EXAMPLE OF WAYS TO HAVE AN IMAGE ON A BUTTON
            <button type="submit"><img src="http://kingofwallpapers.com/picture/picture-015.jpg"></button>
            <input type="image" src="http://kingofwallpapers.com/picture/picture-015.jpg" />
            <button style="background: url(http://kingofwallpapers.com/picture/picture-015.jpg)"> </button>

            -->

            <!-- just a test to see if image sticks to button -->
            <button id="close-image"><img src="http://kingofwallpapers.com/picture/picture-015.jpg" height="50" width="50"></button>


          </div>
          <div class="panel-body text-center">
            <popoverMedicine></popoverMedicine>
          </div>

          <div class="panel-heading">
            <heartmassagetext></heartmassagetext>

          </div>

          <!--If you want to add any extra items, ex. a list of items, this is how you should do it-->
          <!--ul class="list-group text-center">
            <li class="list-group-item"><i class="fa fa-check"></i> Personal use</li>
            <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
          </ul-->

          <div class="panel-footer">
            <popoverAnalysis></popoverAnalysis>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Plans -->
