<!-- Plans -->
<section id="plans">
  <div class="container">
    <div class="row">

      <!-- item -->
      <!--
      <div class="col-md-4 text-center">
        <div class="panel panel-danger panel-pricing">
          <div class="panel-heading">
            <i class="fa fa-desktop"></i>
            <h3>Adrenalin</h3> -->

      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>
      <hlrstep></hlrstep>

    </div>
  </div>
</section>
<!-- /Plans -->
