
.container {
  overflow: auto;
  white-space: nowrap;
}

.panel {
  width: 200px;
  height: 370px;
  border: 1px solid black;
  padding: 5px 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.current {
  border: 2px solid red;
}

.col-md-4 {
  padding: 0px 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 200px;
  height: 370px;
  border: 1px solid black;
  display: inline-block;
}


