<br/><br/><br/>

<!-- Plans -->
<section id="plans">
  <div class="container">
    <div class="row">

      <!-- item -->
      <div class="col-md-4 text-center">
        <div class="panel panel-danger panel-pricing">
          <div class="panel-heading">
            <i class="fa fa-desktop"></i>
            <h3>Adrenalin</h3>
          </div>
          <div class="panel-body text-center">
            <p><strong>$100 / Month</strong></p>
          </div>
          <ul class="list-group text-center">
            <li class="list-group-item"><i class="fa fa-check"></i> Personal use</li>
            <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
          </ul>
          <div class="panel-footer">
            <popoverAnalysis></popoverAnalysis>
          </div>




        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Plans -->
