
.container {
  width: 100%;
  height: 100%;
}

.panel {
  width: 150px;
  height: 360px;
}

.panel-heading {
  padding-top: 0;
  border: 2px solid pink;
}

.col-md-4 {
  width: 150px;
  height: 360px;
  display: inline-block;
  float: none;
}

.row-fluid {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: auto;
}

/* This is used to point out the current column*/
.current {
  border: 2px solid red;
}


