.icon-format{
  width: 20px;
  height: 20px;
  display:inline-block;
  padding: 1px;
}

.newstep{
  border-bottom: 3px solid black;
}

.endflow{
  border-bottom: 4px double darkred;
}

.table > thead> tr > .classalign {
  vertical-align: bottom;
}
