<div class="col-md-6" >
  <div class="keypad-frame">
  <div class="row">
    <input class="input-lg keypad-input form-control col-md-12" type="text" placeholder="{{keypad_placeholder}}" value="{{keypad_res}}" readonly>
  </div>

  <div class="row">
    <button class="btn-large col-md-4 btn-default" *ngFor="let i of [1,2,3]" (click)="handleInput(i)"><div class="btn-text">{{i}}</div></button>
  </div>

  <div class="row">
    <button class="btn-large col-md-4 btn-default" *ngFor="let j of [4,5,6]"  (click)="handleInput(j)"><div class="btn-text">{{j}}</div></button>
  </div>

  <div class="row">
    <button class="btn-large col-md-4 btn-default" *ngFor="let k of [7,8,9]" (click)="handleInput(k)"><div class="btn-text">{{k}}</div></button>
  </div>

  <div class="row">
    <button class="btn-large col-md-4 btn-default" *ngFor="let l of ['C',0,'OK']" (click)="handleInput(l)"><div class="btn-text">{{l}}</div></button>
  </div>
  </div>
</div>
