.checkb {
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  color: black;
  font-size: 18px;
  padding: 8px 10px;
  width: 100%;
}
.checkb:active {
  background-color: darkgreen;
}
.green-box {
  background-color: green;
}


