.btn {
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  color: black;
  font-size: 20px;
  padding: 8px 30px;
  width: 100%;

}
.btn:active {
  background-color: darkgreen;
}
.green-box {
  background-color: green;
}

