<div class="checkbox">
  <div class="checkbox.inline">
    <label><input type="checkbox" value="">Larma</label>
    <label><input type="checkbox" value="">PVK</label>
    <label><input type="checkbox" value="">Narkos</label>
  </div>
  <div class="checkbox.inline">
    <label><input type="checkbox" value="">Hjärtbräda</label>
    <label><input type="checkbox" value="">Ringa acetat</label>
    <label><input type="checkbox" value="">Medicinjour</label>
  </div>
  <div class="checkbox.inline">
    <label><input type="checkbox" value="">Syrgas</label>
    <label><input type="checkbox" value="">Anhöriga</label>
  </div>
</div>

