.barnhlr-start-page-div{
  font-size: 40px;
  margin-top: 10%;
}

.start-text{
  text-align: center;
  padding-bottom: 20px;
}

.start-text h1{
  font-size: 80px;
}

.barnhlr-button{
  padding: 30px;
}
