<div class="row">
  <keypad-comp placeholder='Ange vikt...'></keypad-comp>
  <keypad-comp placeholder='Ange ålder...'></keypad-comp>
</div>
<div class="row">
  <div class="barnhlr-choose">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h1>Beräknad vikt: {{vikt}} kg</h1>
          </div>
        </div>
        <div class="row">
          <button class="col-md-6 btn-default">Använd vikt</button>
          <button class="col-md-6 btn-default">Ange egen vikt</button>
        </div>
      </div>
  </div>
</div>


