.step {
  width: auto;
  height: 100%;
  display: inline-block;
  float: none;
}

.hlr-border{
  border: 2px solid red;
}

.def-button {
  padding: 5px;
  height: 60px;
  width: 60px;
}

.def-image {
  position: relative;
  display: block;
  margin: auto;
  width: 45px;
  height: 45px;
}

#heart-massage {
  font-size: medium;
}

.btn-danger {
  background-color: lightpink;
  color: black;
}

.btn-danger.active {
  background-color: darkred;
  color: white;
}

.hideButton {
  visibility: hidden;
}
