<div class="panel panel-default text-center step" [ngClass]="(step.index == step.currentStepIndex) ? 'hlr-border' : 'disabled-step'">

   <!-- START OF BOLT BUTTON -->

   <div [ngClass]="step.showBoltPicture ? '' : 'hideButton'" class="panel-body" id="bolt-image">
     <!-- TODO: Add (click) to report medicine buttons to log -->
     <button class="btn btn-lg def-button" (click)="changeImage()"><img class="def-image" [src]="boltFullPath"/></button>
   </div>
   <!-- END OF BOLT BUTTON -->


  <!-- START OF HEART MASSAGE TEXT -->
  <div class="panel-body" id="heart-massage" [innerHTML]="step.heartMassage + ' <br> 2 min'"></div>
  <!-- END OF HEART MASSAGE TEXT -->


  <!-- START OF MEDICINE BUTTONS -->
  <!-- Theese buttons are not displayed unless the corresponding "show...Dose" boolean is set-->
  <div class="panel-body" id="medicine-buttons">

    <!--TODO: DO EXTENSIVE TESTING HERE TO ASSURE THAT RACE CONDITIONS >DO NOT< EXIST! -->
    <div [ngClass]="step.showAdrenalineDose ? '' : 'hideButton'">
      <div class="checkbox">
        <label class="btn checkb" [class.blue-box]="adrenaline.value" id="adrenaline-button">
          <input type="checkbox" [(ngModel)]="adrenaline.value" (ngModelChange)="pressedMedicineButton('adrenaline', adrenaline.value)">
          {{adrenaline.name}}
        </label>
      </div>
    </div>
    <div [ngClass]="step.showAmiodaroneDose ? '' : 'hideButton'">
      <div class="checkbox">
        <label class="btn checkb" [class.green-box]="amiodarone.value" id="amiodarone-button">
          <input type="checkbox" [(ngModel)]="amiodarone.value" (ngModelChange)="pressedMedicineButton('amiodarone', amiodarone.value)">
          {{amiodarone.name}}
        </label>
      </div>
    </div>
  </div>
  <!-- END OF MEDICINE BUTTONS -->


  <!-- START OF ANALYSIS BUTTON -->
  <div class="panel-body" id="analysis-buttons">
    <label class="btn btn-danger" [(ngModel)]="step.radioModel"
           btnRadio="VF/VT_alternative">VF/VT</label>
    <label class="btn btn-danger" [(ngModel)]="step.radioModel"
           btnRadio="Asystoli/PEA_alternative">Asystoli/PEA</label>
  </div>
  <!-- END OF ANALYSIS BUTTON -->



  <div class="panel-body" id="next-prev-button">
    <!-- START OF PREV STEP BUTTON -->
    <label class="btn btn-default" *ngIf="step.index == step.currentStepIndex" (click)="changeStepNotifier('prev')" btnCheckbox>
      Föregående
    </label>
    <!-- END OF PREV STEP BUTTON -->
    <!-- START OF NEXT STEP BUTTON -->
    <label class="btn btn-default" *ngIf="step.index == step.currentStepIndex" (click)="changeStepNotifier('next')" btnCheckbox>
      Nästa
    </label>
    <!-- END OF NEXT STEP BUTTON -->
  </div>


</div>
