 <div class="panel panel-default text-center step" [ngClass]="(step.index == step.currentStepIndex) ? 'hlr-border' : ''">


   <!-- START OF BOLT BUTTON -->
   <div class="panel-body" id="bolt-image">
     <!-- TODO: Add (click) to report medicine buttons to log -->
     <button class="btn btn-lg def-button"><img class="def-image" [src]="boltFullPath" (click)="changeImage()"/></button>
   </div>
   <!-- END OF BOLT BUTTON -->


   <!-- START OF HEART MASSAGE TEXT -->
   <div class="panel-body" id="heart-massage" [innerHTML]="step.heartMassage + ' <br> 2 min'"></div>
   <!-- END OF HEART MASSAGE TEXT -->


   <!-- START OF MEDICINE BUTTONS -->
   <!-- Theese buttons are not displayed unless the corresponding "show...Dose" boolean is set-->
   <div class="panel-body" id="medicine-buttons">

     <!--TODO: DO EXTENSIVE TESTING HERE TO ASSURE THAT RACE CONDITIONS >DO NOT< EXIST! -->
     <div [ngClass]="step.showAdrenalineDose ? '' : 'hideButton'">
     <label class="btn btn-primary btn-block" (click)="pressedMedicineButton('adrenaline', checkModel.adrenaline)"
            [innerHTML]="adrenaline" [(ngModel)]="checkModel.adrenaline" btnCheckbox></label>
     </div>
     <div [ngClass]="step.showAmiodaroneDose ? '' : 'hideButton'">
     <label class="btn btn-success btn-block" (click)="pressedMedicineButton('amiodarone', checkModel.amiodarone)"
            [innerHTML]="amiodarone" [(ngModel)]="checkModel.amiodarone" btnCheckbox></label>
     </div>
   </div>
   <!-- END OF MEDICINE BUTTONS -->


   <!-- START OF ANALYSIS BUTTON -->
   <div class="panel-body" id="analysis-buttons">
     <label class="btn btn-danger" [(ngModel)]="step.radioModel"
            btnRadio="VF/VT_alternative">VF/VT</label>
     <label class="btn btn-danger" [(ngModel)]="step.radioModel"
            btnRadio="Asystoli/PEA_alternative">Asystoli/PEA</label>
   </div>
   <!-- END OF ANALYSIS BUTTON -->



   <div class="panel-body" id="next-prev-button">
     <!-- START OF PREV BUTTON -->
     <label class="btn btn-default" *ngIf="step.index == step.currentStepIndex" (click)="changeStepNotifier('prev')" btnCheckbox>
       Previous step
     </label>
     <!-- END OF PREV BUTTON -->
     <!-- END OF NEXT STEP BUTTON -->
     <label class="btn btn-default" *ngIf="step.index == step.currentStepIndex" (click)="changeStepNotifier('next')" btnCheckbox>
       Next step
     </label>
     <!-- START OF NEXT STEP BUTTON -->
   </div>


 </div>
