.step {
  width: auto;
  height: 100%;
  display: inline-block;
  float: none;
}

.hlr-border{
  border: 2px solid red;
}

.def-button {
  padding: 5px;
  height: 60px;
  width: 60px;
}

.def-image {
  position: relative;
  display: block;
  margin: auto;
  width: 45px;
  height: 45px;
}

#heart-massage {
  font-size: medium;
}

.btn-danger {
  background-color: white;
  color: black;
}

.btn-danger.active {
  background-color: darkred;
  color: white;
}

.hideButton {
  visibility: hidden;
}

.checkb {
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  color: black;
  /* font-size: 18px; */
  padding: 8px 30px;
  width: 100%;
}

#amiodarone-button:active {
  background-color: darkgreen;
}

#adrenaline-button:active {
  background-color: darkblue;
}

.green-box {
  background-color: green;
  color: white;
}

.blue-box {
  background-color: blue;
  color: white;
}

.disabled-step {
  pointer-events: none;
  background-color: rgba(191,191,191,0.4);
  opacity: 0.7;
}

.panel-body {
  padding: 10px;
}

