<div class="row">
   <div class="col-xs-offset-0 col-sm-offset-1 col-md-offset-3 col-xs-12 col-sm-10 col-md-6">
         <div class="row">
         <label class="btn btn-lg col-md-4" [(ngModel)]="inputRadioModel" btnRadio="Manader" [class.green-box]="inputRadioModel=='Manader'">
            Månader
         </label>
         <label class="btn btn-lg col-md-4" [(ngModel)]="inputRadioModel" btnRadio="Ar" [class.green-box]="inputRadioModel=='Ar'">
            År
         </label>
         <label class="btn btn-lg col-md-4" [(ngModel)]="inputRadioModel" btnRadio="Personnummer" [class.green-box]="inputRadioModel=='Personnummer'">
            Personnummer
         </label>
      </div>

   </div>
</div>
 <div class="row">
   <div class="col-xs-offset-0 col-sm-offset-1 col-md-offset-3 col-xs-12 col-sm-10 col-md-6">
       <keypad-comp *ngIf="useAge == true" (notify)='onNotify($event)' placeholder='Ange ålder...'></keypad-comp>
       <keypad-comp *ngIf="useAge == false" (notify)='onNotify($event)' placeholder='Ange vikt...'></keypad-comp>
   </div>
 </div>

 <div class="row">
   <div class="barnhlr-choose">
     <div class="col-sm-offset-2 col-md-offset-3">
       <h1>Beräknad {{calcUnit}}: {{wetflag}}</h1>
     </div>
     <div class="col-sm-offset-2 col-md-offset-3">
       <button class="col-xs-12 col-sm-5 col-md-4 btn-success" [routerLink]="['/hlr']">Använd</button>
       <button class="col-xs-12 col-sm-5 col-md-4 btn-danger" (click)="switchKeypad(useAge)" >Ange {{oppositeCalcUnit}} istället</button>
     </div>
   </div>
 </div>
