 <div class="row">
   <div class="col-xs-offset-0 col-sm-offset-2 col-md-offset-3">
     <div class="col-xs-12 col-sm-10 col-md-8">
       <keypad-comp (notify)='onNotify($event)' placeholder='Ange ålder...'></keypad-comp>
     </div>
   </div>
 </div>

 <div class="row" *ngIf="useAge">
   <div class="barnhlr-choose">
     <div class="col-sm-offset-2 col-md-offset-3">
       <h1>Beräknad vikt: {{wetflag}} kg</h1>
     </div>
     <div class="col-sm-offset-2 col-md-offset-3">
       <button class="col-xs-12 col-sm-5 col-md-4 btn-success">Använd vikt</button>
       <button class="col-xs-12 col-sm-5 col-md-4 btn-danger">Ange egen vikt</button>
     </div>
   </div>
 </div>
