.barnhlr-choose{
  padding: 0px 40px 40px 40px;
  font-size: 42px;
}
.messaure-buttons{
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn:active {
  background-color: darkgreen;
}
.green-box {
  background-color: green;
}

#acceptButton{
  padding: 20px 40px;
  margin: 5px 5px;
  font-size: 30px;
}

#changeButton{
  padding: 20px 40px;
  margin: 5px 5px;
  font-size: 30px;
}

